* {
    margin      :   0;
    padding     :   0;
    box-sizing  :   border-box;
}

body{
    z-index     : 2;
    font-family : 'Poppins', sans-serif;

    overflow-x  :   hidden;
}

main-body{
    z-index: 2;
}

input,textarea,button{
    font-family: 'Poppins', sans-serif;
}

header{
    display         :   flex;
    width           :   90%;
    margin          :   auto;
    height          :   10vh;   
    align-items     :   center;
}

.logo-container{
    display     :   flex;
    flex        :   1;
}

#logo{
    font-weight :   400;
    margin      :   5px;
}

nav{
    flex        :   5;
}

.nav-links{
    display         :   flex;
    justify-content :   space-around;
    list-style      :   none;
}

.nav-link{
    color           :   #5f5f79;
    font-size       :   18px ;
    text-decoration :   none;
}

.top{
    display     :   flex;
    width       :   90%;
    margin      :   auto;
    height      :   90vh;
    align-items :   center;
}

.intro-text{
    flex        :   1;
}

.intro-text h1{
    font-size   :   44px;
    font-weight :   500;

    background  :   linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip :   text;
    background-clip         :   text;
    -webkit-text-fill-color :   transparent;
}

.intro-text p{
    margin-top  :   5px;
    font-size   :   22px;
    color       :   #585772;    
}

.action-call{
    padding     :   50px 0 0 0;
}

.action-start{
    border          :   2px solid   ;
    background      :   transparent;
    border-radius   :   40px;
    color           :   mediumturquoise;
    width           :   150px;
    height          :   50px;
    cursor          :   pointer;
    font-size       :   14px;

    box-shadow  :   0px 8px 15px rgba(0, 0, 0, 0.1);
    transition  :   all 0.3s ease 0s;
    outline     :   none;
}

.intro-image{
    flex            :   1;
    display         :   flex;
    justify-content :   center;
    height          :   60vh;
}

.intro-image img{
    height      :   100%;
    animation   :   drop 1.5s ease;
}

/* Phone Drop Animation */
@keyframes drop{
    0% {
        opacity     :   0;
        transform   :   translateY(-80px);
    }
    100% {
        opacity     :   1;
        transform   :   translateY(0px);
    }
}



/* Make it Responsive */
@media screen and (max-width: 900px) {
    .intro{
        margin      :   2vh 0 0 0;
        text-align  :   center;
    }

    .intro-text h1{
        font-size   :   30px;  
    }

    .intro-text p{
        font-size   :   18px;
        margin      :   30px 0 0 0;
    }

    .action-call{
        padding: 10px 0 0 0;
    }

    .top{
        flex-direction  : column;
    }

    .intro-image img{
        height  :   80%;
    }
}


/* action-button hover animation */
.action-start:hover{
    background-color    : mediumturquoise;
    border              : mediumturquoise;
    box-shadow          : 0px 15px 20px rgba(46, 229, 157, 0.4);
    color               : #585772;
    transform           : translateY(-7px); 
}


/* Background Bubbles Animation */
.bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
    transform: translateZ(0);
}

.bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	background-color: rgba(0, 0, 0, 0.05);
	bottom: -100px;
	animation: circle 15s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
	width: 40px;
	height: 40px;
	left: 20%;
}

.bubbles li:nth-child(2) {
	width: 60px;
	height: 60px;
	left: 40%;
	animation-delay: 2s;
	animation-duration: 16s;
}

.bubbles li:nth-child(3) {
	width: 30px;
	height: 30px;
	left: 60%;
	animation-delay: 4s;
	animation-duration: 13s;
}

.bubbles li:nth-child(4) {
	width: 80px;
	height: 80px;
	left: 80%;
	animation-delay: 1s;
	animation-duration: 19s;
}

.bubbles li:nth-child(5) {
	width: 50px;
	height: 50px;
	left: 50%;
	animation-delay: 5s;
	animation-duration: 12s;
}

.bubbles li:nth-child(6) {
	width: 25px;
	height: 25px;
	left: 10%;
	animation-delay: 3s;
	animation-duration: 11s;
}

.bubbles li:nth-child(7) {
	width: 55px;
	height: 55px;
	left: 70%;
	animation-delay: 2.5s;
	animation-duration: 11s;
}

.bubbles li:nth-child(8) {
	width: 75px;
	height: 75px;
	left: 30%;
	animation-delay: 3.5s;
	animation-duration: 11s;
}

@keyframes circle {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
    }

    20%{
        display: block;
    }
	100% {
		-webkit-transform: translateY(-1080px) rotate(800deg);
		transform: translateY(-1080px) rotate(800deg);
    }
    
}

/* nav-links onhover */
.nav-links li a:hover {
    color: mediumturquoise !important;
    transition  :   all 0.3s ease 0s;} 


/* ABOUT SECTION */
.about{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: mediumturquoise;
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 50%, #149279);
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: mediumturquoise;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: mediumturquoise;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: mediumturquoise;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: mediumturquoise;
  }
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid mediumturquoise;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  .big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #1cd4af, #159b80);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
  .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }